@media (min-width: 48em) {
    .page {
        max-width: 65rem;
    }
    .component {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .span-2 {
        grid-column: span 2;
    }

    .join p:last-child {
        max-width: 60ch;
    }
}