/* body */
body {
    background: var(--Light-Gray);
}

/* .page */
.page {
    display: grid;
    align-items: center;
    justify-content: center;
    height: inherit;

    max-width: 30rem;
    margin: auto;
    
}

/* .item */
.item {
    display: grid;
    gap: 1.5rem;
    padding: 2.5rem;
    background-color: gray;
}

/* .JOIN */
.join {
    background: var(--White);
}

.join h1 {
    font-size: 2rem;
    color: var(--Cyan);
}

.join span {
    color: var(--Bright-Yellow);
    font-weight: 700;
}

.join p:last-child {
    font-size: 1.3rem;
    color: var(--Grayish-Blue);
}

/* .sub */
.sub {
    background: var(--Cyan);
}